<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Life pack{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/home.css') }}" rel="stylesheet">
    {% endblock %}

</head>
<body>
<div id="home-page">
    <header>
        <div class="header_wrap">
            <div class="header_top">
                <div class="header_lifelogo">
                    <img src="img/logo_dark.png" alt="logo">
                </div>
                <div>
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 red-border" type="text" placeholder="search" aria-label="Search">
                        <div class="input-group-append">
                    <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                                                                                     aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div>
                    <span>Rafael</span>
                    <span>
                       <img src="img/hummen.png" alt="hummen">
                   </span>
                    <span></span>
                    <!--    LENGUAGES DROPDOWN             -->
                    <div class="nav-item avatar dropdown">
                <span class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                  EN
                </span>
                        <span class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                 <img src="img/home-icon.png" alt="">
                </span>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                             aria-labelledby="navbarDropdownMenuLink-55">
                            <img src="img/icon.png" alt="">
                            <a class="dropdown-item  drop_a" href="#">ENG</a>
                            <a class="dropdown-item  drop_a" href="#">ARM</a>
                            <a class="dropdown-item drop_a" href="#">RUS</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="header_mid">
            <div>
                <p>SURGERY PACKAGES</p>
            </div>

        </div>
        <div class="header_bottom">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Blog</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="">
                        <img src="img/karzina.png" alt="cart">
                    </a>
                </li>
            </ul>


        </div>
    </header>
    <main>

        {% block content %}
        {% endblock %}
        <section>
            <div class="sections_div">
                <div class="section_top"></div>
                <div class="section_1">
                    <div>
                        <div>
                            <img src="img/field1.jpg" alt="">
                        </div>
                        <div>
                            <span>CONNECT YOUR HOSPITAL</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="img/field1.jpg" alt="">
                        </div>
                        <div id="div_1">
                            <span>MAKE YOUR PACKAGING</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img src="img/field1.jpg" alt="">
                        </div>
                        <div id="div_2">
                            <span>BUILD THE PACK</span>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        {{ render(controller("AppBundle:Product:indexProducts")) }}
        <section>
            <div class="hr"></div>
            <div class="partners">
                <p>PARTNERS</p>
                <!--CAROUSEL SMALL  START   -->
                <div class="partnerd_div">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block" src="img/carousel.png"
                                     alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block" src="img/carousel.png"
                                     alt="Second slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span>
                <img src="img/left.svg" class="vector1" alt="">
            </span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span>
                <img src="img/right.svg" class="vector1" alt="">
            </span>
                        </a>
                    </div>
                </div>
                <!-- CAROUSEL SMALL END        -->
            </div>
            <!--SLIDE SMOLL-->

            <!--SLIDE SMOLL END        -->
            <div class="blog">
                <p>BLOG</p>
            </div>
            <div class="blog_next">
                <div class="cardio">
                    <div>
                        <div>
                            <span>Cardiology</span>
                        </div>
                    </div>
                </div>
                <div class="cardio1">
                    <div>
                        <div>
                            <span>Anesthesia</span>
                        </div>
                    </div>
                </div>
                <div class="cardio2">
                    <div>
                        <div>
                            <span>Genetics</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer_main">
            <div class="footer_top">
                <div class="top1">
                    <div>
                        <img src="img/logo%20white.png" alt="lifepack-logo">
                    </div>
                    <div>
                        <p>
                            We provide you with the latest
                            medical technology made its way
                            on market all over the world
                        </p>
                    </div>
                </div>
                <div class="top2">
                    <h3>LifePack</h3>
                    <p>Home</p>
                    <p>About us</p>
                    <p>Contact us</p>
                    <p>Blog</p>
                </div>
                <div class="top3">
                    <h3>My order</h3>
                    <p>Privacy policy</p>
                    <p>Log out</p>
                </div>
                <div class="top4">
                    <h3>Information</h3>
                    <p>phone: (+374) 93 350 379</p>
                    <p>address: Some adress 11 / 64</p>
                    <p>somemail@mail.com</p>
                </div>

            </div>
            <div class="footer_mid">
                <div class="hr1"></div>
                <div class="mid_bottom">
                    <div>
                        <img src="img/fb%20(2).png" alt="">
                    </div>
                    <div>
                        <img src="img/insta.png" alt="">
                    </div>
                    <div></div>
                    <div>
                        <img src="img/visacard.png" alt="">
                    </div>
                    <div>
                        <img src="img/mastercard.png" alt="">
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div>
                    <p>All rights reserved | LifePack 2019</p>
                </div>
                <div>
                    <span>Quality by</span><span><img src="img/2.png" alt=""></span>
                </div>
                <div>
                    <span>Created by</span><span><img src="img/mask2.png" alt=""></span>
                </div>
            </div>

        </div>
    </footer>
</div>







<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</body>
</html>
